body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    background-color: #ebd9ee;
}
p{
    color: lavenderblush;
    background-color: magenta;
}
h2 {
    background-color: #fae2ff;
    border: 2px solid black;
}
.ingredient {
    border: 2px solid black;
    background-color: #ecd7f0;
    
}
.method {
    border: 2px solid black;
    background-color: #c977d4;
}
