.esports-info {
  display: inline-block;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 15px;
  overflow-y: scroll; 
  border: 3px solid black;
  margin-left: 10%;
}
.esports-info-img {
  height: 300px;
}
.esports-tournaments {
  display: flex;
 
}
.esports-tournaments1 {
  display: flex;
  width: 50%;
}